body {
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
    /* font-family: "Roboto Monoa", monospace; */
    background: #e9e5cc;
    color: #92946f;
}


.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}

.quote-container {
    width: 90%;
    height: 50%;
}


div>p>span {
    margin: 10px;
}

div>p {
    flex-wrap: wrap;
}

div, p {
    display: flex;
    justify-content: space-evenly;
}
